<!doctype html>

<html ng-app="app">
    <head>
        <title>IEC</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="app.js"></script>
        <script src="iec.controller.js"></script>
    </head>
    <body ng-controller="iecController as vm">
        <div class="container">
            <form class="col-md-3" ng-submit="vm.send()">
                <div class="form-group">
                    <label for="iecCode">IEC</label>
                    <input type="text" class="form-control" id="iec_code" ng-model="vm.iec.code" placeholder="IEC">
                </div>
                <div class="form-group">
                    <label for="iecName">Name (Min 3 letters):</label>
                    <input type="text" class="form-control" id="iec_name" ng-model="vm.iec.name" placeholder="IEC Name"> 
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>                
            </form>

            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron" ng-if="vm.success != ''">
                        <p>IEC: {{vm.success.code}}</p>
                        <p>Allotment Date: {{vm.success.allotment_date | date: 'mediumDate'}}</p>
                        <p>Party Name: {{vm.success.party_name}}</p>
                    </div>

                    <div class="alert alert-danger" role="alert" ng-if="vm.error.msg != ''">
                        {{vm.error.msg}}
                    </div>
                </div>                
            </div>
        </div>        
    </body>
</html>

